.error__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    background-color: #d57d7d;
    border-radius: 1em;
    padding: 2em;
    font-size: 18px;
    font-weight: 600;
}