.contacts__wrapper {
    background: #3F72AF;
    box-shadow: 0 0 10px #3F72AF;
    border-radius: 1em;
    padding: 1em;
    height: 800px;
    width: 1000px;
}

.contacts__controlPanel {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 1px solid;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.contacts__controlPanel_searchAndAddContact {

}

.contacts__controlPanel_searchAndAddContact_searchString {
    padding: 0.5em;
    border-radius: 1em;
    width: 400px;
    outline: none;
    font-size: 18px;
}

.contacts__controlPanel_userIngo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__list {
    overflow: auto;
    height: 650px;
}

@media screen and (max-width: 1150px){
    .contacts__wrapper {
        height: 800px;
        width: 600px;
    }
}
