.addContactForm__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: 1;
}

.addContactForm__title {
    margin: 10px 0 30px;
    text-align: center;
}

.addContactForm__container {
    display: flex;
    flex-direction: column;
    background: #3F72AF;
    border: #5c85bd 1px solid;
    border-radius: 1em;
    padding: 1em;
    width: 400px;
}

.addContactForm__input {
    width: 100%;
}

.addContactForm__buttonsBlock {
    display: flex;
    justify-content: space-around;
    margin: 1em 0 0.5em;
}